# Ignore node_modules if using Node.js
node_modules/

# PHP dependencies and config files
vendor/
.env

# Composer files
composer.phar
composer.lock

# Apache server logs
logs/
*.log

# IDE-specific files
.vscode/
.idea/

# OS-specific files
.DS_Store
Thumbs.db

# Postgres database dumps
*.sql
*.dump

# Temporary files
*.tmp
*.temp
